h1,
p {
  text-align: center;
  font-family: arial;
  font-weight: 300;
}

p {
  font-style: italic;
  font-size: .825rem;
}

img {
  display: block;
  margin: 0 auto 1rem;
  width: 200px;
  transition: .5s;
  transition-delay: .3s;
}

img:hover {
  transform: rotate(540deg); 
  cursor: pointer;
  width: 300px;
  background-color: lightgreen;
}
